{% extends 'Home_html/base.html' %}

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<section>
  <div class="carousel-example-generic">
    <div class="carousel-inner" id="headpic">
        <img src="{% static 'img/slider/AboutBB.jpg'%}">
      </div>
    </div>
  </div>
</section>


  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2> </h2>
          <p class="mt-4">
          </p>
        </div>
      </div>
    </div>
  </section>




<main id="main">

   <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row about-container">
            <div class="row about-extra">
              <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" style="text-align:justify;">
                <h3>About BharatBhakti Sansthaan/भारत भक्ति संस्थान</h3>
                  <br>
                <p>Bharat BhaktiSansthanbelieves in intellectually supporting various organizations rather than conducting commercial or institutional programmes. Under this premise, the institution is working on many fronts with others, including Shiv Ganga, Hindi USA, Diwali Nagar, and EkalVidyalaya.
                </p>
              </div>
            </div>
            <br>

             <div class="row about-extra">
              <div class="col-lg-11 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" style="text-align:justify;">
                  <h3>BharatBhakti Programmes and Information</h3>
                  <br>
                <h4>Theatrical Program</h4>
                <p>Many theatrical programs are presented from Bharat Bhakti Sansthan, out of which major are
                    Bharat Ma Ki Arti, Shiv marriage, story of nation, poetry, Vande Gau Matram, and various
                    devotional song evenings. The main protagonist of these programs is Baba Ji himself. Various
                    forms of art are used in most of the programmes. The programmes that are presented are
                    similar, but presented differently with changes in subject matter and form made based on
                    audience, time and locality. Yet, all programmes are dedicated to the greatness of the country
                    and its culture.
                </p>
              </div>
            </div>
            <br>
            <div class="row about-extra">
              <div class="col-lg-4 order-1 order-lg-2" data-aos="fade-left">
                  <br><br>
                <img src="{% static 'img/Babaji/Painter.jpg' %}" class="img-fluid" style="border-radius:5px;">
              </div>

              <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" style="text-align:justify;">
                <h4>Bharat Ma Ki Arti</h4>
                <p>Bharat Ma Ki Arti is such a wonderful programme infused with the aroma of patriotism that has
                        been liked equally by people of all ages, classes, and geographies. Audiences themselves
                        become part of the programme adorned with the sounds of “Vande Matram,” many national
                        songs, poems, and paintings, and don’t even notice when they start singing, swaying, and
                        dancing. Men and women of different interests forget themselves and enter into a delightful
                        world of various flavours. When “Bharat Mata ki Jai” resonates at the end of the programme,
                        they realize that they came to see it. The programme starts with songs, poems, or talks of
                        humor and satire. At the end, during Arati, the entire audience, with small earthen lamps in
                        their hands, do the arti as Baba ji paints Bharat Mata onstage. The programme ends with the
                        showering of flowers, dance, firework, and light and sound effects. During the last seven years,
                        more than 600 such programmes have been presented all over the world.
                </p>
              </div>
            </div>
            <br>
            <br>

            <div class="row about-extra">
              <div class="col-lg-4" data-aos="fade-right">
                <img src="{% static 'img/about/nation.jpg' %}" class="img-fluid" style="border-radius:5px;">
              </div>
              <div class="col-lg-7 pt-5 pt-lg-0" data-aos="fade-left" style="text-align:justify;">
                <h4>Story of the Nation</h4>
                <p>Presentation of the pride of the nation, scientific interpretations of Dharma, awareness of the
                    environment, and contemplation on current topics in one or more days in musical art form is
                    called “The Story of the Nation.” Just like religious discourse, this presentation also consists of
                    religious rituals, but they are given social context. Afforestation, harmony dinners, cleanliness
                    drives, Yoga, etc. activities are necessary parts of this programme. Up to now, five such
                    programmes have been organized.
                </p>
              </div>
            </div>
            <br>
            <br>
             <div class="row about-extra">
              <div class="col-lg-4 order-1 order-lg-2" data-aos="fade-left">

                <img src="{% static 'img/about/ShivVivah.jpg' %}" class="img-fluid" style="border-radius:5px;">
              </div>

              <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" style="text-align:justify;">
                <h4>Shiv Marriage</h4>
                <p>Using the marriage of Bhagwan Shankar as the background, the relevance of the contradictions
                    of the current era, social evils, sarcasm on the tendency of showoff, and the tradition on
                    Bhartiya marriage is brought out. Entertaining acting of Bhagwan Siv, Parvati, Nandi, Devata,
                    and evil spirit make this programme very different from others.
                </p>
              </div>
            </div>
            <br>
            <br>

            <div class="row about-extra">
              <div class="col-lg-4" data-aos="fade-right">
                <img src="{% static 'img/about/sangeet.jpg' %}" class="img-fluid" style="border-radius:5px;">
              </div>
              <div class="col-lg-7 pt-5 pt-lg-0" data-aos="fade-left" style="text-align:justify;">
                <h4>Bhajan Evenings</h4>
                <p>You must have listened to such programmes many times, but listening to the same bhajans
                    from Baba Ji is totally a new experience, because when Baba Ji presents bhajans dedicated to
                    various deities and interprets their meaning along with the core elements of Dharma, then
                    these bhajans give out fragrance of Bhartiya culture along with the feeling of Bhakti. Whether

                    there is any relation to getting to heaven by listening to these songs, they surely make this
                    world like heaven.
                </p>
              </div>
            </div>
            <br>
            <div class="row about-extra">
              <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" style="text-align:justify;">
                <h4>Various Consciousness Journeys</h4>
                <p>Bharat Bhakti Institution was established to raise national pride, to explore the scientific and
                    social sides of the Bhartiya culture, and to spread them all over the world. For this, the stage
                    programmes of Baba Ji, exhibitions, books, and other mediums are also used. Consciousness
                    journeys are the most prominent of them.
                    Bharat Bhakti institution, with the help of other organizations has organized many types of foot
                    and vehicular journeys to create awareness about various subjects. Although the entire life of
                    Baba Ji is like a global journey, but the main programmes organized officially to raise awareness
                    include Ganga Yatra, Journey from Brahmaputra to Gomti, Foot journey of Rajasthan, Youth
                    consciousness motor-cycle journey of Jhabua, 1857 Kranti journeys, etc.
                    The awareness created by these journeys was used by sister organizations for spreading their
                    own works.
                </p>
              </div>
            </div>
            <br>
            <br>
            <br>
        </div>
      </div>
    </section>
    <!-- End About Section -->

<!-- Our Work section -->
<section>
    <div class="container">
		<h2>Our Organised work history</h2>
		<div class="row mb-5">
			<div class="col-md-4">
				<div class="card">
					<a href="/projectlist">
                        <img src="{% static 'img/home/Project.jpg' %}" class="card-img-top" alt="...">
                    </a>
					<div class="card-body">
						<h5 class="card-title">PROJECT'S  परियोजना</h5>
						<p class="card-text">Our Sansthan have completed many projects like Gau Mata,plantations,Rastriya Chetna yatra and various locations.
                        </p>
						<a href="/projectlist" class="btn btn-sm btn-primary">Visit / विस्तृत</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
                    <a href="/exhibitionlist">
                        <img src="{% static 'img/home/Exhibitions.jpg' %}" class="card-img-top" alt="...">
                    </a>
					<div class="card-body">
						<h5 class="card-title">EXHIBITION  प्रदर्शनी</h5>
						<p class="card-text">Our Sansthan have completed many exhibitions Hindu Granth, Vedas and Dharm Evm Panths at various locations..</p>
						<a href="/exhibitionlist" class="btn btn-sm btn-primary">Visit / विस्तृत</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
                    <a href="/programlist">
                        <img src="{% static 'img/home/Prograam.jpg' %}" class="card-img-top" alt="...">
                    </a>
                        <div class="card-body">
						<h5  class="card-title">PROGRAMM'S  कार्यक्रम</h5>
						<p class="card-text">Our Sansthan have organised many programs like RAM Katha, Shiv Katha, Ganaga Avtaran at various locations.</p>
						<a href="/programlist" class="btn btn-sm btn-primary">Visit / विस्तृत</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<br><br>

  <!-- ======= Team Section ======= -->
<!--  <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Team</h3>
          <p>People </p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
            <div class="member">
              <img src="{% static 'img/building.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
            <div class="member">
              <img src="{% static 'img/building.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'img/building.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'img/building.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
  -->
  <!-- End Team Section -->



</main><!-- End #main -->

{% endblock %}
