{% extends 'Home_html/base.html' %}
{% load static %}


{% block title %} | Exhibition list {% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
</head>


<section>
  <div class="carousel-example-generic">
    <div class="carousel-inner" id="headpic">
        <img src="{% static 'img/slider/exhibitions.jpg'%}">
      </div>
    </div>
  </div>
</section>

<br>

<div class='contain'>
  <div class='blog-posts'>
    {% for exhibition in exhibitions %}
          <div class='post featured'>
            <a href='/exhibitiondetail/{{exhibition.exhibition_title}}/'>
              <div class='image'>
                  {% for img in images %}
                    {% ifequal img.exhibition_name.exhibition_title exhibition.exhibition_title %}
                      <img src="{{ img.images.url }}">
                    {% endifequal %}
                  {% endfor %}
                <div class='time'>
                  <div class='date'></div>
                  <div class='month'></div>
                </div>
              </div>
              <div class='content'>
                <h5 class="siz" style="color:orange;">{{exhibition.exhibition_title}}, {{exhibition.location}}</h5>
                <p>{{exhibition.description}}</p>
              </div>
            </a>
          </div>
    {% endfor %}
  </div>
</div>

{% endblock %}