{% extends 'Home_html/base.html' %}
{% load static %}


{% block title %} | Program list {% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
</head>

<section>
  <div class="carousel-example-generic">
    <div class="carousel-inner" id="headpic">
        <img src="{% static 'img/slider/programs.jpg'%}">
      </div>
    </div>
  </div>
</section>

<div class='contain'>
  <div class='blog-posts'>
    {% for function in functions %}
          <div class='post featured'>
            <a href='/programdetail/{{function.function_title}}/'>
              <div class='image'>
                  {% for img in images %}
                    {% ifequal img.function_name.function_title function.function_title %}
                      <img src="{{ img.images.url }}">
                    {% endifequal %}
                  {% endfor %}
                <div class='time'>
                  <div class='date'></div>
                  <div class='month'></div>
                </div>
              </div>
              <div class='content'>
                <h5 class="siz" style="color:orange;">{{function.function_title}}, {{function.location}}</h5>
                <p>{{function.description}}</p>
              </div>
            </a>
          </div>
    {% endfor %}
  </div>
</div>

{% endblock %}