{% load static %}

<!-- Upper Footer -->

<section id="services" class="py-4 bg-secondary text-white">
    <div class="">
      <div class="row text-center">
        <div class="col-md-3">
            <h5> BharatBhakti Sansthan</h5>

            <img src="{% static 'img/Babaji/logo.png' %}" style="max-height:150px; max-width:150px">
        </div>
        <div class="col-md-3">
          <h5>More Information</h5>
          <hr>
          <a href="/about" style="color: #ef0606;" ><p>About Sansthan</p>
          </a>
          <a href="/aboutbabaji"  style="color: #ef0606;"><p>About Babaji</p>
          </a>
        </div>
        <div class="col-md-3">
          <h5>Contact & Follow</h5>
          <hr>
          <h6>+91-9892056060</h6>
          <h6>baba@bharatbhakti.com</h6>
          <p>101, B-wing, Versha co-operative housing society, Tilak Nagar, Chembur, Mumbai(M.H.)-India. Pin-400089</p>
        </div>
        <div class="col-md-3">
          <h5>Social Handle's</h5>
          <hr>
            <section id="top-bar">
              <div class="container">
                    <div class="social">
                      <a href="https://twitter.com/baba_mourya">
                        <i class="fab fa-twitter" style="color:black;"></i>
                      </a>
                      <a href="https://www.facebook.com/babamouryaji/">
                        <i class="fab fa-facebook" style="color:black;"></i>
                      </a>
                      <a href="https://www.linkedin.com/in/baba-satyanarayan-mourya-26066b1b1/">
                        <i class="fab fa-linkedin" style="color:black;"></i>
                      </a>
                      <a href="https://www.youtube.com/channel/UCL8trS1m9OMmelzslGqtLeQ?view_as=subscriber">
                        <i class="fab fa-youtube" style="color:black;"></i>
                      </a>
                      <a href="https://www.instagram.com/babamouryaji/">
                        <i class="fab fa-instagram" style="color:black;"></i>
                      </a>
                      <a href="https://in.pinterest.com/business/hub/">
                        <i class="fab fa-pinterest" style="color:black;"></i>
                      </a>
                    </div>
                  </div>
            </section>
        </div>
      </div>
    </div>
</section>

