{% load static %}


<div id="toTop" style="display: block;">
      <div class="col">
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://twitter.com/baba_mourya">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/babamouryaji/">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/baba-satyanarayan-mourya-26066b1b1/">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCL8trS1m9OMmelzslGqtLeQ?view_as=subscriber">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/babamouryaji/">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://in.pinterest.com/business/hub/">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
</div>