{% extends 'Home_html/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->

<!-- Image Slider / Carousel -->
  {% include 'Home_html/_slider.html'%}

<section id="showcase-inner" class="text-white">
    <div class="">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 >सब धर्मो से बढ़कर होता राष्ट्र धर्म</h2>

        </div>
      </div>
    </div>
</section>

<!-- You tube video section -->
<section>
  <br>
      <div class="container text-center">
        <h2>भारत भक्ति संस्थान</h2>
      </div>
    <br>
    <div class="container how-section1">
        <div class="row">
            <div class="col-md-6 how-img">

                <div class="img embed-responsive embed-responsive-16by9" style="border-radius:4px;">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VhzRdu3iN88" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <h4>BharatBhakti Sansthaan</h4>
                    <h4 class="subheading">{% trans "Various Consciousness Journey" %}</h4>
                    <p class="text-muted" style="text-align:justify;" >
                        We are BharatBhakti Sansthan, was established to raise national pride, to explore the scientific and social sides of the Bhartiya culture, and to spread them all over the world. For this, the stage programmes of Baba Ji, exhibitions, books, and other mediums are also used. Consciousness journeys are the most prominent of them. Bharat Bhakti institution, with the help of other organizations has organized many types of foot and vehicular journeys to create awareness about various subjects
                    </p>
            </div>
        </div>
    </div>
</section>


<!-- Babaji personal profile  section -->
<section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row about-extra">
          <div class="col-lg-4 order-1 order-lg-2" data-aos="fade-left" >
              <br>
            <img src="{% static 'img/Babaji/Baba.jpg' %}" class="img-fluid" style="border-radius:5px;">
          </div>

          <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
            <h3 class="card-body" style="color:orange; font-weight: bold">Babaji Satya Narayan Mourya</h3>

                    <p class="text-muted" style="text-align:justify;" >
                       What is Shri Mourya, (Baba) as an artist? His personality may be better highlighted if we ask the question, what he is not….and, to call Baba an artist grossly falls short of the sum total of his personality as it fails to capture the subtle nuances of his reflective, creative and expressive personality.
                    </p>
                    <p class="text-muted" style="text-align:justify;" >
                        To my mind, to sum it up in one sentence, instead of being a disciple of one art, for the sake of being an artist, he is an artist of pure expression. He uses not just one, but any art that is the right medium to express his particular inner reflection as creativity.
                    </p>
              <a href="/aboutbabaji" class="btn btn-sm btn-primary">Know More/ विस्तृत</a>
          </div>

        </div>
        <hr>
      </div>
</section>
<br>


<!-- Our Work section -->
<section>
    <div class="container">
		<h2>Our Work: </h2>
		<div class="row mb-5">
			<div class="col-md-4">
				<div class="card">
					<a href="/projectlist">
                        <img src="{% static 'img/home/Project.jpg' %}" class="card-img-top" alt="...">
                    </a>
					<div class="card-body">
						<h5 class="card-title">PROJECT'S  परियोजना</h5>
						<p class="card-text">Our Sansthan have completed many projects like Gau Mata,plantations,Rastriya Chetna yatra and various locations.
                        </p>
						<a href="/projectlist" class="btn btn-sm btn-primary">Visit / विस्तृत</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
                    <a href="/exhibitionlist">
                        <img src="{% static 'img/home/Exhibitions.jpg' %}" class="card-img-top" alt="...">
                    </a>
					<div class="card-body">
						<h5 class="card-title">EXHIBITION  प्रदर्शनी</h5>
						<p class="card-text">Our Sansthan have completed many exhibitions Hindu Granth, Vedas and Dharm Evm Panths at various locations..</p>
						<a href="/exhibitionlist" class="btn btn-sm btn-primary">Visit / विस्तृत</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
                    <a href="/programlist">
                        <img src="{% static 'img/home/Prograam.jpg' %}" class="card-img-top" alt="...">
                    </a>
                        <div class="card-body">
						<h5  class="card-title">PROGRAMM'S  कार्यक्रम</h5>
						<p class="card-text">Our Sansthan have organised many programs like RAM Katha, Shiv Katha, Ganaga Avtaran at various locations.</p>
						<a href="/programlist" class="btn btn-sm btn-primary">Visit / विस्तृत</a>
					</div>
				</div>
			</div>
		</div>


        <!-- row -->
		<div class="row">
			<div class="bg-dark col-md-6" style="border-radius:6px;">
				<div class="card bg-dark mb-3">
					<div class="row no-gutters align-items-center">
						<h5 class="card-title" style="color: Orange"> Upcoming Event's</h5>
                        {% for eve in events %}

                            <div class="alert alert-success" role="alert">{{ eve.title}},{{ eve.location}}, {{eve.event_date}}

                            </div>
                        {% endfor %}

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="mb-3">
					<div class="row no-gutters align-items-center">
						<div class="col-md-6">
						</div>
						<div class=" card col-md-6">
                           <!-- <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
                           -->
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<br><br>


{% endblock %}