{% extends 'Home_html/base.html' %}
{% load static %}


{% block title %} | Project Gallery {% endblock %}

{% block content %}

<section>
  <div class="carousel-example-generic">
    <div class="carousel-inner" id="headpic">
        <img src="{% static 'img/slider/projects.jpg'%}">
      </div>
    </div>
  </div>
</section>

<section id="showcase-inner" class="text-white">
    <div class="">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>Project Gallery</h2>

        </div>
      </div>
    </div>
</section>

<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="clearfix">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title"></h3>
        </header>
        <br>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for img in project_details %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" >
              <div class="portfolio-wrap" >
                <img src="{{ img.images.url }}" class="img-fluid" id="imggallary" alt="">
                <div class="portfolio-info">
                  <h4>{{ img.image_title}}</h4>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section><!-- End Portfolio Section -->





{% endblock %}
