.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  max-height: 45px;
  max-width: 60px }

.navbar {
  opacity: 0.8;
  max-height: 50px;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 100px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: #44444a; }

#showcase-inner {
  padding: 5px 0 0 0;
  position: relative;
  overflow: hidden;
  min-height: 50px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: #59503a; }
  #showcase-inner.showcase-search {
    min-height: 100px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }

#slide{
          max-width: 100px;
          height: 100px;
          background-color: powderblue;
          opacity: 0.8;
            }
.slide{
          max-width: 100px;
          height: 100px;
          background-color: powderblue;
          opacity: 0.8;
            }
.slide:hover {
  opacity: 1;}


/* client image bar*/


     .myimages {
         display: flex;
         overflow: hidden;
         height: auto;
         width: auto;
         max-height: 35vw;
         max-width: 35vw;
         background: #333
     }

     .myimages img {
         max-width: 100%;
         vertical-align: middle;
         border: 2px solid white;
         box-sizing: border-box;
         transition: opacity .2s
     }

     .myimages:hover img {
         opacity: 0.5
     }

     .myimages img:hover {
         opacity: 1
     }

     .first-column {
         animation: var(--animation, none) 20s infinite linear
     }

     .first-column:hover {
         animation-play-state: paused
     }

     .first-column:nth-of-type(odd) {
         align-self: flex-end;
         --direction: 50%
     }

     @keyframes slide {
         to {
             -webkit-transform: translateY(var(--direction, -50%));
             transform: translateY(var(--direction, -50%))
         }
     }

#toside {
        opacity:0.9;
        text-align:left; position:auto;
        cursor:pointer;
        display:none;
        color:#ffd9a7;
        font-size:20px;
        font-weight:bold;,
        }

#toside:hover {
  transform: scale(1.005);
  opacity: 1;}


/* index page CSS */

.how-section1{
    margin-top: -12%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #10284e;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img
{
    box-shadow: 0 0 0px 0px  inset;
    text-align: center;
}
.how-img .img{
    box-shadow: 0 0 0px 0px  inset;
    min-width: 240px;
    min-height: 230px;
}


{
    display:block;
    position:relative;

}

.sad:before
{
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    box-shadow: 0px 0px 25px 25px white inset, -30px -25px 25px 25px white inset;

}


/* Bharat bhakti NavBar CSS */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------multi-level-accordian-menu------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #5161ce;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;

}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;

}
#navbarSupportedContent ul li a{
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 12px 15px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{

	background-color: transparent;
	transition: all 0.5s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}




@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 60px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:bservicesefore{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

/* Bharat bhakti slider CSSS*/

#carousel-example-generic {
	max-height: 600px;
	max-width: auto;
}

.carouselTitle {
	font-size: 35px;
	font-weight: 100;
	color: white;
	text-shadow: 0 1px 2px #000;
	position: absolute;
	top: 80px;
	left: 80px;
}

/* Bharat bhakti index card CSS*/

.cstm-height-card .card-img-top {
  height: 100px;
  object-fit: cover;
}

/* Bharat bhakti Head Picture/list CSS*/
#headpic{
        border-style: solid;
        border-color: black;
        border-radius:4px;
        border-width: 1px;
        max-height:350px;
        max-width:auto; !important;
    }


/* Bharat bhakti gallary CSS*/

#imggallary {
        border-style: solid;
        border-color: black;
        border-radius:4px;
        border-width: 1px;
        max-height:400px;
        }

}